body,
body *,
body *::before,
body *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;

	background: transparent;

	font-family: inherit;
	text-decoration: none;
	outline: none;
}

ol,
ul,
li {
	display: block;

	list-style: none;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

a img {
	border: none;
}

button,
a {
	cursor: pointer;

	color: inherit;
}

textarea {
	resize: none;
}

button,
input,
textarea,
select {
	appearance: none !important;
	-webkit-appearance: none !important;

	border-radius: 0;
}

body {
	display: flex;
	flex-direction: row;
	@media screen and (max-width: 1024px) {
		flex-direction: column;
	}

	justify-content: center;
	align-items: center;
	min-height: 100vh;

	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #ffeedf;

	font-family: "EB Garamond", serif;

	div.card {
		flex-shrink: 0;
		width: 290px;
		height: 416px;

		margin: 31px;
		padding: 27px;
		background-color: #fff;

		h2 {
			margin-bottom: 12px;

			font-size: 48px;
			font-weight: normal;
			color: #33793f;
		}

		h6 {
			margin-bottom: 24px;

			font-family: "Montserrat", sans-serif;
			font-size: 14px;
			font-weight: medium;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			color: #999;
		}

		p {
			font-size: 24px;
			font-weight: normal;
			color: #999;
		}
	}
}
